<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Jaclyn + Morgan - May 30, 2020</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:400,700|Cormorant:600,600i&subset=cyrillic,latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300|Sacramento|Source+Sans+Pro|IM+Fell+DW+Pica" rel="stylesheet">
</head>
  