
@font-face {
  font-family: 'Restless Youth Sans';
  src: url('/assets/fonts/RestlessYouthSans-Regular.otf');
}

@font-face {
  font-family: 'Restless Youth Script';
  src: url('/assets/fonts/RestlessYouthScript-Regular.otf');
}

@font-face {
  font-family: 'Restless Youth Small Caps';
  src: url('/assets/fonts/RestlessYouthSmallCaps-Regular.otf');
}
