

#map-entry {
    background-color: white;
    width: 80%;
    margin: auto;
    padding: 10px;
}

.container {
    position: relative;
    background-color: #fcf5e3;
    margin: auto;
}

.coloring {
  opacity: 0;
  transition: 1s opacity;
}

.bg-loading{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/images/map/map.svg);
  background-size: cover;
  width: 100%;
}

.map-detail{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.map-container {
  position: relative;
}

.map-bg{
  width:100%;
}

.hide{
  opacity: 0;
}

.show{
  opacity: 1;
}



#redwood-grove{
  top: 23%;
  left: 4%;
  height: 31%;
  width: 15%;
}

#bbq-area {
  height: 17%;
  top: 53%;
  left: 14%;
  width: 13.5%;
}

#willow-glen {
  left: 22%;
  width: 14%;
  top: 30%;
  height: 16%;
}

#tipi-camp {
       left: 25%;
    top: 10%;
    height: 22%;
    width: 21%;
}

#pool-area {
    height: 6%;
    left: 23.5%;
    top: 50%;
    width: 4%;
    cursor: auto;
}

#main-hall {  
left: 35%;
    top: 41%;
    height: 20%;
    width: 19%;
    transform: rotate(-30deg);
}

#cabin-camp {
     top: 30%;
    left: 64%;
    height: 21%;
    width: 12.5%;
    transform: rotate(-30deg);
}

.map-btn {
  position: absolute;
  background: none; /*#0000ff47; */
  cursor: pointer;
  border: none;
  color: #a52a2a00;
  font-size: 5px;

}

#camp-entrance {
  top: 48%;
  left: 68.6%;
  height: 13%;
  width: 15%;
}

#totem-ampitheatre {
left: 75%;
    width: 11%;
    top: 25%;
    height: 17%;
    transform: rotate(-30deg);
}