@import "sections/jacamo";
@import "sections/location";
@import "sections/about";
@import "sections/faq";
@import "sections/rsvp";

.section{
  h1{
    color: #fcf3e0;
    font-family: "Restless Youth Script", cursive, sans-serif;
    text-align: center;
    font-weight: 100;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 6.7vw;
    text-shadow: 1px 1px 1px #737373;
  }

  h3 {
    color: #fcf3e0;
    text-align: center;
    font-weight: normal;
    font-family: 'Restless Youth Small Caps', cursive;
    font-size: 2.5vw;
    text-shadow: 1px 1px 1px #737373;
  }

  p{
    color: #fcf3e0;
    text-align: center;
    font-family: "Restless Small Caps", sans-serif;
    width: 54%;
    font-size: 1.5vw;
    margin-bottom: 15px;
    margin: auto;
    text-shadow: 1px 1px 1px #737373;
    line-height: 130%;
  }

  // padding-left: 30px;
  // padding-right: 30px;
  position: relative;
  .bg-pattern{
    position: absolute;
  }
}


