---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";


.top-nav {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.nav-link{
  display: inline-block;
  margin-right: 36px;
}

.nav-link > a {
    text-decoration: none;
    color: #fcf3e0;
    font-family: sans-serif;
    font-size: 1.2vw;
}