#cta-wrap {
    height: 100vh;
    min-height: 100%;
    width: 100%;
}

#explore-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#explore-cta-content {
    color: #ffecd2;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    &:before{
    content: '';
    background: rgba(0,0,0,0.5);
    border: solid 1px #aeaba3;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -97px;
    margin-bottom: 4px;
    opacity: .2;
    width: 194px;
    height: 194px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    }
}

#explore-title-treatment {
    letter-spacing: .38em;
    margin: 0 0 .62em .38em;
    font: italic 600 6.25vw / 1.2em 'Cormorant','Palatino',serif;
}

#explore-copy {
    letter-spacing: .3em;
    font: 400 10px / 1em 'Lato','Helvetica Neue',Helvetica,'Arial Black',arial,sans-serif;
    &:before{
    margin: 0 auto 26px;
    width: 191px;
    }
}

#explore-arrow {
  width: 11px;
  height: 37px;
  text-align: center;
  margin: auto;
  transform: rotate(90deg);
}

.dots-before:before {
    content: '';
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABCAYAAAD0In+KAAAAEUlEQVQIW2O8dnbffy1jJ0YAF5IEAllMqQ8AAAAASUVORK5CYII=);
    display: block;
    opacity: .3;
    height: 1px;
}

#container {
    height: 100%;
    margin: 0 auto;
    min-height: 100%;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    img.bg-image{
    height:100%;
    width:100%;
  }
}

.content-wrap {
  background: rgba(26,26,26,0.9);
    color: #ffecd2;
    text-align: center;
    p {
      margin-bottom: 0;
      padding: 10px;
    }
}

.record-wrap{
  height: 700px;
  position: relative;
  background: white;
  overflow-y: scroll
  
  // #entry {
  //   width: 30%;
  //   position: relative;
  //   margin: auto;
  //   height: 100%;
  //   .img-wrap{
  //     height: inherit;
  //   }
  // }
}


img.record {
    position: absolute;
    top: 4%;
    left: 15%;
    width: 64.5%;
}    

.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000 ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
