---
layout: default
---

<div class="home">

<div class="container">
    <div id="cta-wrap"><div id="explore-cta" class="text">
  <div id="explore-cta-content">
    <h1 id="explore-title-treatment">Morgan & Jaclyn</h1>
      <div id="explore-copy" class="dots-before">Discover the event</div>
    <div id="explore-arrow">⟶</div>
   
  </div>
</div>
</div>

  <div class="background">
    <img class="bg-image" src="{{ '/assets/images/woods.jpg' | relative_url }}" />
  </div>

</div>

  <div class="content-wrap">
  {{ content }}

  </div>

</div>
