/*#react-entry{
  margin-top: 50px;
}*/

body, html{
  background-color: #7d8a86;
  /*?background: #fcf5e3;*/
  margin:0;
  margin: 0;
  position: relative;
}

@font-face {
  font-family: 'Restless Youth Sans';
  src: url('/assets/fonts/RestlessYouthSans-Regular.otf');
}

@font-face {
  font-family: 'Restless Youth Script';
  src: url('/assets/fonts/RestlessYouthScript-Regular.otf');
}

@font-face {
  font-family: 'Restless Youth Small Caps';
  src: url('/assets/fonts/RestlessYouthSmallCaps-Regular.otf');
}

.bg-image {
    background-image: url(assets/images/texture.png);
    position: absolute;
    top: 0;
    background-size: 8%;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: repeat;
}

/*.intro-image {
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
}*/

.main-intro{
    color: #fcf3e0;
    font-family: "Restless Youth Script", cursive, sans-serif;
    text-align: center;
    font-weight: normal;
    margin-top: 75px;
    font-size: 9vh;
    text-shadow: 1px 1px 1px #737373;
}

.jacamo-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    height: 20%;
}

.bg-nav-color {
    background: #c89f4f;
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 6%;
    border-bottom: 3px solid #fbf3e2;
}

.curve-wrappers {
  position: relative;
}
.curve {
    position: absolute;
    transform: translateY(-73%);
    z-index: 3;
}

.shadow{
  box-shadow: 0px 0px 5px #00000085;
}

.green-curve{
  transform:translateY(7%);
  z-index:0;
}

.top-nav {

    position: fixed;
    top: 10px;
    left: 16px;
    margin: 0;
    padding: 0;
    z-index: 100;

}

.nav-link{
  display: inline-block;
  margin-right: 33px;
}

.nav-link > a {
    text-decoration: none;
    color: #fcf3e0;
    font-family: "Restless Youth Sans", sans-serif;
    font-size: 1.2vw;
}

.main-title{
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  color: white;
  z-index: 10;
}

.google-map-wrapper{
  width:100%;
  height: 500px;
}

.location-text{
  color: white;
  padding: 40px;
  font-family: 'Source Sans Pro', sans-serif;
}

.intro-image{
  z-index:2;
}

.camp-map-outer{
  position: relative;
}

.placeholder{
  margin-top: 100%;
}

.down-arrow {
   width: 11px;
    height: 37px;
    text-align: center;
    margin: auto;
    transform: rotate(90deg);
    line-height: 35px;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10%;
    cursor: pointer;
}

.date {
    position: absolute;
    top: 55%;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
}

.title{
  font-family: Sacramento, cursive, "Reeperbahn";
  font-weight: normal;
  /*color: #543a24;*/
  /*margin-left: 60px;*/
}

.container{
  position: absolute;
  background-color: #fcf5e3;
  width: 50%;
}

.coloring {
  opacity: 0;
  transition: 1s opacity;
}

.bg-loading{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(/assets/map/images/map.svg);
  background-size: cover;
  width: 100%;
}


.map-detail{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.map-container {
  position: relative;
}

.map-bg{
  width:100%;
}

.hide{
  opacity: 0;
}

.show{
  opacity: 1;
}





#redwood-grove{
  top: 23%;
  left: 4%;
  height: 31%;
  width: 15%;
}

#bbq-area {
  height: 17%;
  top: 53%;
  left: 14%;
  width: 13.5%;
}

#willow-glen {
  left: 22%;
  width: 14%;
  top: 30%;
  height: 16%;
}

#tipi-camp {
       left: 25%;
    top: 10%;
    height: 22%;
    width: 21%;
}

#pool-area {
    height: 6%;
    left: 23.5%;
    top: 50%;
    width: 4%;
    cursor: auto;
}

#main-hall {  
left: 35%;
    top: 41%;
    height: 20%;
    width: 19%;
    transform: rotate(-30deg);
}

#cabin-camp {
     top: 30%;
    left: 64%;
    height: 21%;
    width: 12.5%;
    transform: rotate(-30deg);
}

.map-btn {
  position: absolute;
  background: none; /*#0000ff47; */
  cursor: pointer;
  border: none;
  color: #a52a2a00;
  font-size: 5px;

}

#camp-entrance {
  top: 48%;
  left: 68.6%;
  height: 13%;
  width: 15%;
}

#totem-ampitheatre {
left: 75%;
    width: 11%;
    top: 25%;
    height: 17%;
    transform: rotate(-30deg);
}

@font-face {
  font-family: "Reeperbahn";
  src: url('fonts/Reeperbahn.woff') format('woff'),
       url('fonts/Reeperbahn.ttf') format('truetype');
}

.intro-wrapper{
  position: relative;
}

.welcome-text {
    color: white;
    position: absolute;
    right: 0;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'IM Fell DW Pica', serif;
}