.section.about {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 18%;
    background: #81a495;
    margin-top: -40%;
    width: 120%;
    margin-left: -10%;
    padding-bottom: 118%;
    border-top-right-radius: 15% 15%;
    border-top-left-radius: 100% 25%;
    .bg-pattern{
      border-top-right-radius: 15% 15%;
      border-top-left-radius: 100% 25%;
     } 
    .inner {
      width: 80%;
      margin: auto;
    }
    h1{
      margin-right: 34%;
      margin-bottom: 1%;
    }
    h3{
      width: 75%;
      line-height: 150%;
      margin: 0 auto 3%;
    }
}

.about-line{
  margin-left: 7%;
}

.about-line-after {
    margin-left: 23%;
    margin-top: 6%;
}