.section.about {
    padding-left: 30px;
    padding-right: 30px;
    border-top-right-radius: 25% 15%;
    padding-top: 18%;
    border-top-left-radius: 75% 50%;
    background: #81a495;
    margin-top: -40%;
    width: 120%;
    margin-left: -10%;
    padding-bottom: 35%;
    .inner {
      width: 80%;
      margin: auto;
    }
    h1{
      margin-right: 34%;
    }
}