.section {
  &.faq, &.faq-cont {
    background: #7d8a86;
    padding-top: 7%;
    border-top-right-radius: 80% 10%;
    border-top-left-radius: 80% 10%;
    width: 110%;
    margin-left: -5%;
    padding-bottom: 35%;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -30%;
    .bg-pattern{
      border-top-right-radius: 80% 10%;
      border-top-left-radius: 80% 10%;
    }
    p{
      margin:0;
      text-align:left;
    }
  }
  .inner{
      width: 80%;
      margin:auto;
    }
}
