.section {
  &.faq{

    background: #7d8a86;
    padding-top: 7%;
    border-top-right-radius: 80% 10%;
    border-top-left-radius: 80% 10%;
    width: 110%;
    margin-left: -5%;
    padding-left: 0;
    padding-right: 0;
    margin-top: -30%;
    .bg-pattern{
      border-top-right-radius: 80% 10%;
      border-top-left-radius: 80% 10%;
    }
    p{
      margin:0;
      text-align:left;
    }
    .inner{
      width: 80%;
      margin:auto;
      h3{
        text-align: left;
        text-transform: lowercase;
      }
      ul {
        font-family: "Restless Small Caps", sans-serif;
        font-size: 1.5vw;
        line-height: 1.5;
      }
    }
  }

}

