.section {
  &.jacamo_cont {
    p {
      text-align: left;
      margin-top: 5px;
      margin-bottom: 15px;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }
  }
}

h3#we-both-swiped-left-on-a-little-app-called-hinge {
    width: 55%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
}