.section{
  &.location{
    
    background: #cbc19e;
    padding-top: 7%;
    width: 110%;
    margin-left: -5%;
    padding-bottom: 80%;
    margin-top: 55%;
    border-top-right-radius: 80% 10%;
    border-top-left-radius: 80% 10%;
    padding-left: 0;
    padding-right: 0;
    .bg-pattern{
      border-top-right-radius: 80% 10%;
      border-top-left-radius: 80% 10%;
    }
    .inner{
      width: 80%;
      margin:auto;
    }

    p{
      text-align: left;
      width: 100%;
    }
  }
}

#location {
  text-align: right;
  margin-right: 15%;
}

.location-line-wrap {
    position: absolute;
    width: 86%;
    transform: translate(12%, -92%);
}

.location-map.card{
  width:40%;
  float: right;
  margin:2%;
  margin-bottom: 20%;
  margin-left: 8%;
}


