.section{
  &.location{
    
    background: #cbc19e;
    border-top-right-radius: 80% 10%;
    padding-top: 7%;
    border-top-left-radius: 80% 10%;
    width: 110%;
    margin-left: -5%;
    padding-bottom: 80%;
    margin-top: 46%;

    .inner{
      width: 80%;
      margin:auto;
    }

    p{
      text-align: left;
      width: 100%;
    }
  }
}

#location {
  text-align: right;
  margin-right: 15%;
}

.location-line-wrap {
    position: absolute;
    width: 93%;
    transform: translate(17%, -90%);
}
#google-map-entry {
    width: 80%;
    min-height: 400px;
    background: white;
    margin: auto;
    margin-bottom: 50%;
    padding: 10px; 
}

.location-map{
  width:50%;
  float: right;
}

.line-wrap.location-line-wrap-after {
    width: 93%;
    margin-left: -36%;
}

